{% extends 'main/base.html' %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Title</h1>
        <p class="lead">livemaster - это главная платформа поклонников дизайнерских вещей и авторского искусства
            в России и СНГ</p>
        <div class="row row-cols-3 justify-content-md-center mt-5">
            {% for product in products %}
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <a href="{% url 'catalog:product' product_id=product.pk %}">
                                <h4 class="my-0 fw-normal">{{ product.title }}</h4>
                            </a>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ product.price }} рублёв</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>{{ product.category }}</li>
                                <li><img src="{{ product.img|mediapath }}" class="img-fluid" style="height: 200px"
                                         alt="{{ product.title }}"</li>
                                <li>{{ product.description }}</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}
