{% extends 'main/base.html' %}

{% block content %}
    <form method="post" class="row">
    <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Добавление товара</h2>
                </div>
                <div class="card-body">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">
                        {% if object %}
                        Сохранить
                    {% else %}
                    Добавить
                    {% endif %}
                    </button>
            </div>
            </div>
    </div>
        <div class="col-6">
        <div class="card">
            <div class="card-header">
                Версия
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset.forms %}
                {{ form.as_p }}
                {% endfor %}
            </div>
        </div>
    </div>

    </form>
{% endblock %}